body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #8E0E00;
    background: linear-gradient(to left,#8e0e00,#1f1c18);
}


.container{
    height: 560px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow:0 0 3px rgba(0,0,0,0.1);
    border-radius: 20px;
-webkit-border-radius:20px
}
h1{
    background: #f1030c;
    color: white;
    margin: 0;
    padding: 10px 106.6789px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
p{
    padding-left: 20px;
}
form input[type="text"]{
    width: 90px;
}

input{
    padding-left: 20px;
}

#billant{
    font-size: 14px;
    color:#2980b9;
    background-color:#f7f7f7;
    width: 60%;
    padding: 5px 5px 8px 8px;
}

#billant:focus{
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}
#peopleamt{
    width: 60%;
    padding: 5px 5px 8px 8px;
    color: red;
    background-color: #f7f7f7;
    font-size: 18px;
}

.dollarsign{
    display: inline;
}

#serviceQual{
    padding: 13px 13px 20px 20px;
    margin-left: 20px;
    font-size: 20px;
}

button{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 30px auto;
    background: #ad133a;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    color: white;
}

button:hover{
    position: relative;
    top: 1px;
}

#totalTip{
    font-size: 30px;
    margin-top:5px;
    text-align: center;
}
#totalTip::before{
    content: "Tip amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup{
    font-size: 20px;
    font-weight: bold;
    display: block;
}









